<div class="container" > 
    <h1 class="text-center">BITÁCORA</h1>
    <div  style="padding-left: 12%;" > 
    
 <div class="row">                
        <div class="col-sm-3"> 
             <a class="btn btn-success btn2 "  href="/bitacora/add"><i class="fa fa-plus"> Crear Nuevo</i>  </a>
        </div>
                <div class="col-sm-4" style="">
                 <form action="/bitacora/buscar" method="POST">
                  <input class="" type="text" name="fullname" placeholder="Buscar" id="fullname" >
                  <button class="btn btn-success btn3">Buscar</button>
                 </form> 
                </div>

                <div class="col-sm-5">
                      <form action="/bitacora/buscarfecha" method="POST">
                  <input class="" type="date" name="fecha1" placeholder="fecha" id="fecha1" >
                   <input class="" type="date" name="fecha2" placeholder="fecha" id="fecha2" >

                  <button class="btn btn-success btn3">Buscar</button>
                 </form> 
                </div>
      </div>
   
    <div id="" class="overflow-auto overflow-hidden">
        <div id="table-wrapper"></div>
  <div id="table-scroll">
        
                    <div class="row" >
                        <br>

                        <div class="col-12 col-sm-11" id="">

                          

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"> Fecha de incidencia</th>
                                         <th scope="col"> Hora de incidencia</th>
                                          <th scope="col">Tipo de incidente</th>
                                           <th scope="col">Tipo de plataforma</th>
                                           <th scope="col">Tipo de evento</th>
                                           <th scope="col">Descripción</th>
                                           <th scope="col">Empleado reportó</th>
                                           <th scope="col">Empleado atendió</th>
                                           <th scope="col">Proveedor</th>
                                           <th scope="col">Fecha de solución</th>
                                           <th scope="col">Hora de solución</th>
                                           <th scope="col">Estado</th>
                                           <th scope="col">Evento de riesgo</th>
                                           <th scope="col">Factor de riesgo</th>

                                        
                                    </tr>
                                </thead>
                                {{#each bitacorafecha }}
                                <tr>

                                <td>{{fechaDeIncidencia}}</td>
                                <td>{{horaDeIncidencia}}</td>
                                <td>{{incidente}}</td>
                                <td>{{plataforma}}</td>
                                <td>{{evento}}</td>
                                <td>{{descripcion}}</td>
                                <td>{{fullname}}</td>
                                <td>{{atendio}}</td>
                                <td>{{proveedor}}</td>
                                <td>{{fechaSolucion}}</td>
                                <td>{{horaSolucion}}</td>
                                <td>{{estado}}</td>
                                <td>{{EventoRiesgo}}</td>
                                <td>{{factor}}</td>




                                     <td>
                                        <a  href="/bitacora/delete/{{id}}" onClick="alert('¿Desea eliminar este registro?')"  aria-label="borrar" >
                                        
                         <i  class="fas fa-trash-alt" title="Eliminar" style="color: #f80000;  " aria-hidden="true" ></i> 
                    </a> 

                    </td>
                    <td>

                                       <a  href="/bitacora/edit/{{id}}" aria-checked="actualizar"><i class="fas fa-pencil-alt" title="Editar" style="color: rgb(35, 148, 0);  " aria-hidden="true" ></i> </a>
                                    </td>
                                    
                                    

                                </tr>
                                {{else}}
     <th></th>  
     <th>Aún no se han agregado datos.</th>
    </tr>
    {{/each}}
                            </table>
                        </div>

                        
                    </div>
                </div>

            </div>


        </div>
    </div>


</div>
 </div>


</div>
</div>

