<h1 class="text-center">EMPLEADOS </h1>



<div class="container p-4">
    <div class="row">
        {{#each empleados}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{url}}" target="_blank">
                        <h3 class="card-title text-uppercase">
                            {{empleado}}
                        </h3>
                    </a>
                   
                    <a class="btn btn-danger" href="/empleado/delete/{{id}}">
                        Eliminar
                    </a>
                    <a class="btn btn-secondary" href="/empleado/edit/{{id}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No tienes empleados creados </p>
                <a href="/empleado/add">Agregar</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>


