<div class="container" > 
    <h1 class="text-center">USUARIOS</h1>
    <div  style="padding-left: 20%;" > 
    

      
        <div class="row">
                   
    
        <div class="col"> 
             <a class="btn btn-success btn2 "  href="/signup/"><i class="fa fa-plus"> Crear Nuevo</i> 
                                    </a>
               
</div>
  
<div class="col" style="padding-left: 5%;">
          <form action="#" method="POST">
    <input class="" type="text" name="fullname" id="fullname" >
  
     <button class="btn btn-success btn3">
                                Buscar
                            </button>
            </form> 
                                   </div>
                                    </div>

                                

    <div id="scroll" class="overflow-auto overflow-hidden">
        <div id="table-wrapper">
  <div id="table-scroll">
        <div class="containerlist" style="overflow-x:auto;">
            <div class="row">
                <div class="col-sm-11">
                    <div class="row">
                        <br>

                        <div class="col-10 col-sm-11" id="panel-servicios">

                          

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre completo</th>
                                         <th>Usuario</th>
                                         <th>Rol</th>
                                          <th>email</th>

                                        
                                    </tr>
                                </thead>
                                {{#each usuario }}
                                <tr>
                                <td>{{fullname}}</td>
                                <td>{{username}}</td>
                                <td>{{rol}}</td>
                                <td>{{email}}</td>




                                     <td>
                                        <a class="btn btn-danger" href="/usuario/delete/{{id}}">
                        Eliminar
                    </a>
                     </td>
                      <td>
                                       <a class="btn btn-secondary" href="/usuario/edit/{{id}}">
                        Editar
                    </a>
                                    </td>
                                                  <td>
                                        <a class="btn btn-danger" href="/usuario/editpass/{{id}}">
                        Cambiar contraseña
                    </a>
                     </td>
                                    
                                    

                                </tr>
                                {{else}}
     <th></th>  
     <th>Aún no se han agregado datos.</th>
    </tr>
    {{/each}}
                            </table>
                              
                        </div>

                    
                    </div>
                   
                </div>

            </div>


        </div>
        <br>
         <a class="btn btn-success btn2 "  href="/usuario"><i class="fa fa-plus"> Refrescar</i> 
                                    </a>
    </div>


</div>

 </div>


</div>
</div>

