   <div class="container " style="padding-left: 26%; padding-top: 2%;">
     <div class="row">
        <div class="col-md-1">
   
                    <a href="/usuario">
                    <i class="fas fa-arrow-circle-left fa-2x" style="color: rgb(35, 148, 0);"></i>
                    </a> 
</div>
                    <div class="col" >
                    <h2>Editar usuario, {{usuario.username}}</h2>

                    </div>
                    
             

</div>
</div>



<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/usuario/edit/{{usuario.id}}" method="POST">
                        <div class="form-group">
                            <input type="text"  name="fullname" class="form-control" placeholder="Nombre Completo"  value="{{usuario.fullname}}" autofocus>
                        </div>
                         <div class="form-group">
                            <input type="text" readonly="true" name="username" class="form-control" placeholder="Usuario"  value="{{usuario.username}}" >
                        </div>
                        <div class="form-group">
                            <input type="text" readonly="true" name="email" class="form-control" placeholder="Correo"  value="{{usuario.email}}" >
                        </div>



                        <div class="form-group">
                        <select class ="form-control" name="rol" id="rol" required>
					 {{#if rolAdmin}}
				         <option value="Admin" selected="true" name="rol"> Admin</option>
                          
                         <option value="General"  name="rol"> General</option>
                            {{/if}}
                            {{#if rolGeneral}}
				         <option value="Admin" selected="true" name="rol"> Admin</option>
                          
                         <option value="General" selected="true" name="rol"> General</option>
                            {{/if}}
					    </select>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block btn3">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>