

<div class=" bootstrap snippet ">
    <div class="row">
  		<div class="col-sm-10" style="padding-left: 30%;"><h1>Bienvenido a tu perfil, {{perfilusuario.fullname}}.</h1></div>
    	
    </div>

    <div class="row" style="padding-right: 20%; ">
  		<div class="col-sm-3"><!--left col-->
              
<br>

     

               
          
          
          

               
          {{!-- <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div> --}}
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li >
                    <a data-toggle="tab" href="#home"> Perfil /&nbsp;</a></li> 
                
                <li><a data-toggle="tab" href="#messages">Actualizar /&nbsp;</a></li> 
                                <li><a data-toggle="tab" href="#contra">contraseña &nbsp;</a></li> 

              </ul>


              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form2 tablef" action="##" method="post" id="registrationForm">
                      <div style="padding-left: 5%;">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="first_name"><h4> <i class="fas fa-user " style="color: rgb(35, 148, 0);"></i> Nombre: {{perfilusuario.fullname}}</h4></label>
                          </div>
                      </div>

                        <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4><i class="fas fa-clipboard-list" style="color: rgb(35, 148, 0);"></i> Usuario: {{perfilusuario.username}}</h4></label>
                          </div>
                      </div>

                      <div class="form-group">                    
                          <div class="col-xs-6">
                            <label for="last_name"><h4> <i class="fas fa-envelope-open-text" style="color: rgb(35, 148, 0);"></i> Correo: {{perfilusuario.email}}</h4></label>
                          </div>
                      </div>
          
                     
                    
                     
                      
                      </div>
                     
                      {{!-- <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div> --}}
              	</form>
              
              <hr>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
                

   <form class="form2 tablef" action="/usuario/editperfil/{{perfilusuario.id}}" method="post" id="registrationForm">
                 
  <div class="form-row actualizar">

    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Nombre</label>
      <input type="text" class="form-control" name="fullname" id="validationCustom01" placeholder="Nombre" value="{{perfilusuario.fullname}}" required>
      <div class="valid-feedback">
        
      </div>
    </div>
 <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Usuario</label>
      <div class="input-group">
        <div class="input-group-prepend">
          
        </div>
        <input readonly="readonly" type="text" class="form-control" name="username" id="validationCustomUsername" value="{{perfilusuario.username}}" placeholder="26620000" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Correo</label>
      <input readonly="readonly" type="text" class="form-control" name="email" id="validationCustom02" placeholder="Correo" value="{{perfilusuario.email}}" required>
      <div class="valid-feedback">
        
      </div>
    </div>
   
  </div>
 
  <div class="form-group actualizar">
    
  
  <button class="btn btn-success  btn3" type="submit">Actualizar</button>
</div>


              	</form>
               
             </div><!--/tab-pane-->
             
                <div class="tab-pane" id="contra">
               
               <h2></h2>
               
               <hr>
                

   <form class="form2 tablef" action="/usuario/editpassperfil/{{perfilusuario.id}}" method="post" id="registrationForm">
                 
  <div class="form-row actualizar">

    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Contraseña actual</label>
      <input type="password" class="form-control" name="password" id="password"  required>
      <div class="valid-feedback">
        
      </div>
    </div>
 <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Nueva contraseña</label>
      <div class="input-group">
        <div class="input-group-prepend">
          
        </div>
        <input type="password" class="form-control" name="newpassword" id="newpassword"   aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          
        </div>
      </div>
      <br>
       <label for="validationCustom02">Confirme contraseña </label>
      <input  type="password" class="form-control" name="confirmpassword" id="confirmpassword"  required>
      <div class="valid-feedback">
        
      </div>
    </div>
    <div class="col-md-4 mb-3">
     
    </div>
   
  </div>
 
  <div class="form-group actualizar">
    
  
  <button class="btn btn-primary btn3" type="submit">Cambiar contraseña</button>
</div>


              	</form>
               
             </div><!--/tab-pane-->



          
 
       



</div><!--/tab-content-->
 
</div><!--/col-9-->

    </div><!--/row-->
    
   
    

</div>


<!-- partial:index.partial.html -->


<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
{{!-- <script  src="./script.js"></script> --}}



<script>
  $(document).ready(function(){
  var zindex = 10;
  
  $("div.card").click(function(e){
    e.preventDefault();
    var isShowing = false;
    if ($(this).hasClass("show")) {
      isShowing = true
    }
    if ($("div.cards").hasClass("showing")) {
      // a card is already in view
      $("div.card.show")
        .removeClass("show");
      if (isShowing) {
        // this card was showing - reset the grid
        $("div.cards")
          .removeClass("showing");
      } else {
        // this card isn't showing - get in with it
        $(this)
          .css({zIndex: zindex})
          .addClass("show");
      }
      zindex++;
    } else {
      // no cards in view
      $("div.cards")
        .addClass("showing");
      $(this)
        .css({zIndex:zindex})
        .addClass("show");
      zindex++;
    }
    
  });
});
</script>