

<div class="container" > 
    <h1 class="text-center">FACTOR DE RIESGO </h1>
    <div  style="padding-left: 20%;" > 
    

      <h3 style="padding-left: 60%;"><a class="btn btn-success btn2" href="/factorRiesgo/add"><i class="fa fa-plus"> Crear Nuevo</i> 
                                    </a>
                              </h3>
    <div id="scroll" class="overflow-auto overflow-hidden">
        <div id="table-wrapper">
  <div id="table-scroll">
        <div class="containerlist" style="overflow-x:auto;">
            <div class="row">
                <div class="col-sm-11">
                    <div class="row">
                        <br>

                        <div class="col-10 col-sm-11" id="panel-servicios">

                          

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Factores de riesgo</th>
                                         <th>Evento de riesgo</th>

                                        
                                    </tr>
                                </thead>
                                {{#each factorRiesgos }}
                                <tr>
                                    <td>{{factor}}</td>
                                <td>{{EventoRiesgo}}</td>



                                     <td>
                                        <a class="btn btn-danger" href="/factorRiesgo/delete/{{id}}">
                        Eliminar
                    </a>
                     </td>
                      <td>
                                       <a class="btn btn-secondary" href="/factorRiesgo/edit/{{id}}">
                        Editar
                    </a>
                                    </td>
                                    
                                    

                                </tr>
                                {{else}}
     <th></th>  
     <th>Aún no se han agregado datos.</th>
    </tr>
    {{/each}}
                            </table>
                        </div>

                        {{!-- <div class="col-2 col-sm-1">
                            <h3> <br><br> </h3>
                            <br><br>
                            <table class="table">
                                <thead>
                                    <tr>

                                    </tr>
                                </thead>
                                {{!-- {{#each servicios}}
                                <tr>

                                    <td style="border-color: #FFFFFF; height: 145px;">

                                        <a href="/modificar-servicio/{{this.url}}"><i class="fa fa-pencil fa-lg"
                                                style="color: #F88600;  " aria-hidden="true">

                                            </i></a>

                                    </td>
                                </tr>
                                {{/each}} --}}
{{!-- 
                            </table>
                        </div> --}}
                    </div>
                </div>

            </div>


        </div>
    </div>


</div>
 </div>


</div>
</div>

