<div class="container" > 
    <h1 class="text-center sm-2">PLATAFORMA</h1>
    <div  style="padding-left: 20%;" > 
    
 <div class="row">                
        <div class="col-sm-4"> 
             <a class="btn btn-success btn2 "  href="/plataforma/add"><i class="fa fa-plus"> Crear Nuevo</i>  </a>
        </div>
        
                <div class="col-sm-5">
                 <form action="/plataforma/buscar" method="POST">
                  <input class="" type="text" name="plataforma" placeholder="Buscar" id="plataforma" >
                  <button class="btn btn-success btn3">Buscar</button>
                 </form> 
                </div>
      </div>

   
    <div id="scroll" class="overflow-auto overflow-hidden">
        <div id="table-wrapper">
  <div id="table-scroll">
        <div class="containerlist" style="overflow-x:auto;">
            <div class="row">
                <div class="col-sm-11">
                    <div class="row">
                        <br>

                        <div class="col-10 col-sm-11" id="panel-servicios">

                          

                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th>Plataforma</th>
                                         <th>Incidente</th>

                                        
                                    </tr>
                                </thead>
                                {{#each plataformas }}
                                <tr>
                                    <td>{{plataforma}}</td>
                                <td>{{incidente}}</td>



                                    <td>
                                        <a  href="/plataforma/delete/{{id}}" onClick="alert('¿Desea eliminar este registro?')"  aria-label="borrar" >
                                        
                         <i  class="fas fa-trash-alt" title="Eliminar" style="color: #f80000;  " aria-hidden="true" ></i> 
                    </a> 

                    </td>
                    <td>

                                       <a  href="/plataforma/edit/{{id}}" aria-checked="actualizar"><i class="fas fa-pencil-alt" title="Editar" style="color: rgb(35, 148, 0);  " aria-hidden="true" ></i> </a>
                                    </td>
                                    
                                    

                                </tr>
                                {{else}}
     <th></th>  
     <th>Aún no se han agregado datos.</th>
    </tr>
    {{/each}}
                            </table>
                        </div>

                        
                    </div>
                </div>

            </div>


        </div>
         <br>
         <a  href="/plataforma" title="Refrescar"><i class="fas fa-arrow-circle-left fa-2x" style="color: rgb(35, 148, 0);"></i> 
                                    </a>
    </div>


</div>
 </div>


</div>
</div>